body {
    margin: 0;
}

#main_section {
    max-width: 50em;
    margin:auto;
}

h1 {
    margin: 0;
    text-align: center;
    border: 3px solid grey;
    border-radius: 12px;
}

#bingo_board {
    display: grid;
    width: 40em;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    border: 1px solid black;
}
.bingo_board_col {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.bingo_board_element {
    
    /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Make the text non-selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Other */
    height: 8em;
    background-color: lightblue;
    border: 1px solid black;
}

.checked_bingo_element {
    background-color: red;
}